  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }


  body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: hsl(212, 45%, 89%);
      color: hsl(218, 44%, 22%);
      font-family: 'Outfit';
  }

  .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: hsl(0, 0%, 100%);
      width: min(320px, 90%);
      padding: 16px;
      padding-bottom: 40px;
      border-radius: 20px;
      line-height: 1.2;
      margin-block: auto;
      /* centers the content vertically */
      /* can also use margin: auto 0, TOP/BOTTOM : auto | LEFT/RIGHT : 0 */
  }

  img {
      width: 100%;
      height: auto;
      border-radius: 10px;
  }

  .text {
      padding: 24px 16px 0;
      /* TOP: 24px | RIGHT: 16px | BOTTOM: 0 | LEFT: 16px */
      font-size: 15px;
      row-gap: 16px;
      text-align: center;
  }

  p {
      color: hsl(216, 15%, 48%);
  }

  h1 {
      padding-bottom: 16px;
      font-size: 22px;
      font-weight: 700;
  }

  .attribution {
      font-size: 15px;
  }

  .attribution a {
      color: hsl(0, 0%, 7%);
      text-decoration: none;
      font-weight: 700;
      border-radius: 4px;
      /*rounded for the future outline */
      transition: all 0.2s ease;
  }

  .attribution a:focus-visible {
      outline: 2px solid hsl(218, 44%, 22%);
      /*We create a high-contrast indicator */
      outline-offset: 3px;
      /* We push the edge outwards */
  }

  /* Hover (Mouse) */
  .attribution a:hover {
      text-decoration: underline;
      color: hsl(218, 44%, 22%);
  }